{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "OAuth oauth_signature_method=PLAINTEXT, oauth_consumer_key=<CLIENT_KEY>, oauth_token=<OAUTH_TOKEN>, oauth_signature=<CLIENT_SECRET>&<OAUTH_SECRET>"}, "method": "GET", "uri": "https://api.appfigures.com/v2/reports/sales?products=39740449578"}, "response": {"body": {"string": "{\r\n  \"downloads\": 614295,\r\n  \"updates\": 2211231,\r\n  \"returns\": 0,\r\n  \"net_downloads\": 614295,\r\n  \"promos\": 0,\r\n  \"revenue\": \"0.00\",\r\n  \"edu_downloads\": 0,\r\n  \"gifts\": 0,\r\n  \"gift_redemptions\": 0\r\n}", "encoding": "utf-8"}, "headers": {"X-Currency": "CAD", "X-Server-ID": "12", "X-Request-Usage": "47", "ETag": "\"X36CoNFx3UUKT2nF7hJBXA==\"", "X-Request-Limit": "1000", "Content-Type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://api.appfigures.com/v2/reports/sales?products=39740449578"}, "recorded_at": "2015-10-13T21:25:46"}], "recorded_with": "betamax/0.4.2"}