{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "OAuth oauth_signature_method=PLAINTEXT, oauth_consumer_key=<CLIENT_KEY>, oauth_token=<OAUTH_TOKEN>, oauth_signature=<CLIENT_SECRET>&<OAUTH_SECRET>"}, "method": "GET", "uri": "https://api.appfigures.com/v2//products/google_play/com.rdio.android.ui"}, "response": {"body": {"string": "{\r\n  \"id\": 5555936,\r\n  \"name\": \"Rdio Music\",\r\n  \"developer\": \"Rdio\",\r\n  \"icon\": \"https://lh3.ggpht.com/8nViHFOwanUFQwW_o_Ywb4iEMDjbNUnYrOn-BnaMAoLYC8jTcuOBaNZUrhxOF0_i5w\",\r\n  \"vendor_identifier\": \"com.rdio.android.ui\",\r\n  \"ref_no\": null,\r\n  \"sku\": \"com.rdio.android.ui\",\r\n  \"package_name\": \"com.rdio.android.ui\",\r\n  \"store_id\": 2,\r\n  \"store\": \"google_play\",\r\n  \"storefront\": \"google_play\",\r\n  \"release_date\": \"2011-12-01T23:21:16\",\r\n  \"added_date\": \"2011-12-02T23:21:16\",\r\n  \"updated_date\": \"2015-09-30T03:49:31\",\r\n  \"version\": \"   Varies with device  \",\r\n  \"source\": null,\r\n  \"type\": \"unknown\",\r\n  \"devices\": [\r\n    \"Handheld\"\r\n  ],\r\n  \"bundle_identifier\": \"com.rdio.android.ui\",\r\n  \"price\": {\r\n    \"currency\": \"USD\",\r\n    \"price\": \"0.00\"\r\n  }\r\n}", "encoding": "utf-8"}, "headers": {"x-partner-credits-remaining": "5035", "x-server-id": "13", "x-request-usage": "10", "x-partner-credit-cost": "1", "etag": "\"EbRFlmJv3VTC1DInOmT3Eg==\"", "x-request-limit": "1000", "x-partner-reason": "Some given products are not owned by your account. (the first one is: 5555936).", "content-type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://api.appfigures.com/v2//products/google_play/com.rdio.android.ui"}, "recorded_at": "2015-10-01T04:44:06"}], "recorded_with": "betamax/0.5.0"}