{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "OAuth oauth_signature_method=PLAINTEXT, oauth_consumer_key=<CLIENT_KEY>, oauth_token=<OAUTH_TOKEN>, oauth_signature=<CLIENT_SECRET>&<OAUTH_SECRET>"}, "method": "GET", "uri": "https://api.appfigures.com/v2/products/apple/335060889"}, "response": {"body": {"string": "{\r\n  \"id\": 5985606,\r\n  \"name\": \"Rdio Music\",\r\n  \"developer\": \"Rdio\",\r\n  \"icon\": \"http://is3.mzstatic.com/image/thumb/Purple3/v4/1a/8b/e7/1a8be7cb-1373-cb4e-ff1f-949c94c113f0/mzl.swxdnapn.png/100x100bb-85.jpg\",\r\n  \"vendor_identifier\": \"335060889\",\r\n  \"ref_no\": 335060889,\r\n  \"sku\": \"\",\r\n  \"package_name\": null,\r\n  \"store_id\": 1,\r\n  \"store\": \"apple\",\r\n  \"storefront\": \"apple:ios\",\r\n  \"release_date\": \"2009-12-17T05:00:00\",\r\n  \"added_date\": \"2011-11-29T16:04:22\",\r\n  \"updated_date\": \"2015-10-09T13:11:00\",\r\n  \"version\": \"3.8.3\",\r\n  \"source\": null,\r\n  \"type\": \"app\",\r\n  \"devices\": [\r\n    \"Handheld\",\r\n    \"Tablet\"\r\n  ],\r\n  \"bundle_identifier\": \"com.rdio.player\",\r\n  \"price\": {\r\n    \"currency\": \"USD\",\r\n    \"price\": \"0.00\"\r\n  }\r\n}", "encoding": "utf-8"}, "headers": {"x-partner-credits-remaining": "4750", "x-server-id": "11", "x-request-usage": "21", "x-partner-credit-cost": "1", "etag": "\"w5icfsO2DS1VyCqOkXLM8g==\"", "x-request-limit": "1000", "x-partner-reason": "Some given products are not owned by your account. (the first one is: 5985606).", "content-type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://api.appfigures.com/v2/products/apple/335060889"}, "recorded_at": "2015-10-13T20:52:52"}], "recorded_with": "betamax/0.5.0"}