{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "OAuth oauth_signature_method=PLAINTEXT, oauth_consumer_key=<CLIENT_KEY>, oauth_token=<OAUTH_TOKEN>, oauth_signature=<CLIENT_SECRET>&<OAUTH_SECRET>"}, "method": "GET", "uri": "https://api.appfigures.com/v2/products/212135374"}, "response": {"body": {"string": "{\r\n  \"id\": 212135374,\r\n  \"name\": \"Rdio\",\r\n  \"developer\": \"Rdio\",\r\n  \"icon\": \"http://ecx.images-amazon.com/images/I/51IPlKhP19L._SY300_.png\",\r\n  \"vendor_identifier\": \"B004T76OR8\",\r\n  \"ref_no\": null,\r\n  \"sku\": \"B004T76OR8\",\r\n  \"package_name\": \"B004T76OR8\",\r\n  \"store_id\": 3,\r\n  \"store\": \"amazon_appstore\",\r\n  \"storefront\": \"amazon_appstore\",\r\n  \"release_date\": \"2011-03-21T00:00:00\",\r\n  \"added_date\": \"2012-05-30T19:16:43\",\r\n  \"updated_date\": \"2015-01-21T12:13:32\",\r\n  \"version\": \"2.9\",\r\n  \"source\": null,\r\n  \"type\": \"unknown\",\r\n  \"devices\": [\r\n    \"Handheld\"\r\n  ],\r\n  \"bundle_identifier\": \"B004T76OR8\",\r\n  \"price\": {\r\n    \"currency\": \"USD\",\r\n    \"price\": \"0.00\"\r\n  }\r\n}", "encoding": "utf-8"}, "headers": {"x-partner-credits-remaining": "4751", "x-server-id": "12", "x-request-usage": "20", "x-partner-credit-cost": "1", "etag": "\"cdfx0PeDNJvuFrhV8W9kWQ==\"", "x-request-limit": "1000", "x-partner-reason": "Some given products are not owned by your account. (the first one is: 212135374).", "content-type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://api.appfigures.com/v2/products/212135374"}, "recorded_at": "2015-10-13T20:52:52"}], "recorded_with": "betamax/0.5.0"}