{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "OAuth oauth_signature_method=PLAINTEXT, oauth_consumer_key=<CLIENT_KEY>, oauth_token=<OAUTH_TOKEN>, oauth_signature=<CLIENT_SECRET>&<OAUTH_SECRET>"}, "method": "GET", "uri": "https://api.appfigures.com/v2//products/google_play/com.rdio.android.ui?meta=true"}, "response": {"body": {"string": "{\r\n  \"id\": 5555936,\r\n  \"name\": \"Rdio Music\",\r\n  \"developer\": \"Rdio\",\r\n  \"icon\": \"https://lh3.ggpht.com/8nViHFOwanUFQwW_o_Ywb4iEMDjbNUnYrOn-BnaMAoLYC8jTcuOBaNZUrhxOF0_i5w\",\r\n  \"vendor_identifier\": \"com.rdio.android.ui\",\r\n  \"ref_no\": null,\r\n  \"sku\": \"com.rdio.android.ui\",\r\n  \"package_name\": \"com.rdio.android.ui\",\r\n  \"store_id\": 2,\r\n  \"store\": \"google_play\",\r\n  \"storefront\": \"google_play\",\r\n  \"release_date\": \"2011-12-01T23:21:16\",\r\n  \"added_date\": \"2011-12-02T23:21:16\",\r\n  \"updated_date\": \"2015-09-30T03:49:31\",\r\n  \"version\": \"   Varies with device  \",\r\n  \"source\": null,\r\n  \"type\": \"unknown\",\r\n  \"devices\": [\r\n    \"Handheld\"\r\n  ],\r\n  \"bundle_identifier\": \"com.rdio.android.ui\",\r\n  \"price\": {\r\n    \"currency\": \"USD\",\r\n    \"price\": \"0.00\"\r\n  },\r\n  \"all_rating\": \"3.93\",\r\n  \"all_rating_count\": \"162814\",\r\n  \"description\": \"<div class=\\\"id-app-orig-desc\\\">Rdio provides over 35 million songs to discover, play, and share. <p>With Rdio, you can:<br>- Enjoy endless stations based on artists, genres, moods and themes, along with You FM, your own personalized station.<br>- Play albums, songs, and playlists.<br>- Listen on your phone, tablet, computer, and other devices such as Sonos and Chromecast.<br>- Download songs for offline listening.<br>- Follow friends, artists, and other music lovers.</p></div>\",\r\n  \"developer_email\": \"android@rd.io\",\r\n  \"developer_site\": \"http://www.rdio.com\",\r\n  \"downloads\": \"10000000-50000000\",\r\n  \"download_size\": \"13631488\",\r\n  \"has_inapps\": \"false\",\r\n  \"rating\": \"Teen\",\r\n  \"release_notes\": \"<div class=\\\"recent-change\\\">- Tour Dates at Your Fingertips. If an artist is playing near you, you\u2019ll see a green \u201cOn Tour\u201d icon at the top of their page, letting you know when you can catch them live. You can even tap through to purchase tickets.</div>\\n<div class=\\\"recent-change\\\">- Various UI improvements and minor bug fixes.</div>\",\r\n  \"top_developer\": \"false\",\r\n  \"view_url\": \"https://play.google.com/store/apps/details?id=com.rdio.android.ui&hl=en\",\r\n  \"meta\": {\r\n    \"en\": [\r\n      {\r\n        \"key\": \"all_rating\",\r\n        \"language\": \"en\",\r\n        \"value\": \"3.93\"\r\n      },\r\n      {\r\n        \"key\": \"all_rating_count\",\r\n        \"language\": \"en\",\r\n        \"value\": \"162814\"\r\n      },\r\n      {\r\n        \"key\": \"description\",\r\n        \"language\": \"en\",\r\n        \"value\": \"<div class=\\\"id-app-orig-desc\\\">Rdio provides over 35 million songs to discover, play, and share. <p>With Rdio, you can:<br>- Enjoy endless stations based on artists, genres, moods and themes, along with You FM, your own personalized stat[...]
