{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "OAuth oauth_signature_method=PLAINTEXT, oauth_consumer_key=<CLIENT_KEY>, oauth_token=<OAUTH_TOKEN>, oauth_signature=<CLIENT_SECRET>&<OAUTH_SECRET>"}, "method": "GET", "uri": "https://api.appfigures.com/v2/reviews?count=25&products=5555936&page=1"}, "response": {"body": {"string": "{\r\n  \"total\": 9516,\r\n  \"pages\": 381,\r\n  \"this_page\": 1,\r\n  \"reviews\": [\r\n    {\r\n      \"author\": \"Richard Alcocer\",\r\n      \"title\": \"I am no longer a fan\",\r\n      \"review\": \"For some odd reason, this app no longer plays my music on or offline. I would have to reboot 4 or 5 times to listen. I will be canceling my subscription.\",\r\n      \"original_title\": \"I am no longer a fan\",\r\n      \"original_review\": \"For some odd reason, this app no longer plays my music on or offline. I would have to reboot 4 or 5 times to listen. I will be canceling my subscription.\",\r\n      \"stars\": \"1.00\",\r\n      \"iso\": \"ZZ\",\r\n      \"version\": \"3.6.2.100\",\r\n      \"date\": \"2015-10-13T15:43:12\",\r\n      \"product\": 5555936,\r\n      \"weight\": 0,\r\n      \"id\": \"5555936LAKYsexDd8EEnqRlwDkzc2w\",\r\n      \"predicted_langs\": [\r\n        \"en\"\r\n      ]\r\n    },\r\n    {\r\n      \"author\": \"Ally Rodriguez\",\r\n      \"title\": \"Too many bugs.\",\r\n      \"review\": \"I love this service. But every time I search an artists, the app either freezes and crashes or just crashes. I can't search for an artist and select their page to listen to what I want to listen to. It's pretty ridiculous. Needs serious patching. Now I can't use it at all. It just completely freezes every time I open the app. It's ridiculous.\[...]
