{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "OAuth oauth_signature_method=PLAINTEXT, oauth_consumer_key=<CLIENT_KEY>, oauth_token=<OAUTH_TOKEN>, oauth_signature=<CLIENT_SECRET>&<OAUTH_SECRET>"}, "method": "GET", "uri": "https://api.appfigures.com/v2//reviews/?count=25&products=5555936&page=1"}, "response": {"body": {"string": "{\r\n  \"total\": 9299,\r\n  \"pages\": 372,\r\n  \"this_page\": 1,\r\n  \"reviews\": [\r\n    {\r\n      \"author\": \"Tony D\",\r\n      \"title\": \"Wow\",\r\n      \"review\": \"The app crashes whenever it wants to and just stops playing the music and won't start again unless I restart the app. I also can't download songs when a station is playing because the music will crash and yet again I will have to restart the app. 5 star Amazing music service but just a mediocre 1 star app.\",\r\n      \"original_title\": \"Wow\",\r\n      \"original_review\": \"The app crashes whenever it wants to and just stops playing the music and won't start again unless I restart the app. I also can't download songs when a station is playing because the music will crash and yet again I will have to restart the app. 5 star Amazing music service but just a mediocre 1 star app.\",\r\n      \"stars\": \"2.00\",\r\n      \"iso\": \"ZZ\",\r\n      \"version\": \"3.6.2.83\",\r\n      \"date\": \"2015-09-30T03:31:49\",\r\n      \"product\": 5555936,\r\n      \"weight\": 0,\r\n      \"id\": \"5555936L2RnbOL3Mz-NjX7wEuPpQIg\",\r\n      \"predicted_langs\": [\r\n        \"en\"\r\n      ]\r\n    },\r\n    {\r\n      \"author\": \"Jason Makara\",\r\n      \"title\": \"Crashes\",\r\n      \"review\": \"App constantly freezes and crashes.\",\r\n      \"original_title\": \"Crashes\",\r\n      \"original_review\": \"App constantly freezes and crashes.\",\r\n      \"stars\": \"1.00\",\r\n      \"iso\": \"ZZ\",\r\n      \"version\": \"3.6.2.83\",\r\n      \"date\": \"2015-09-29T23:53:17\",\r\n      \"product\": 5555936,\r\n      \"weight\": 0,\r\n      \"[...]
