{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": "OAuth oauth_signature_method=PLAINTEXT, oauth_consumer_key=<CLIENT_KEY>, oauth_token=<OAUTH_TOKEN>, oauth_signature=<CLIENT_SECRET>&<OAUTH_SECRET>"}, "method": "GET", "uri": "https://api.appfigures.com/v2/reviews/count?products=39740449578"}, "response": {"body": {"string": "{\r\n  \"stars\": {\r\n    \"5\": 68,\r\n    \"4\": 16,\r\n    \"3\": 22,\r\n    \"2\": 30,\r\n    \"1\": 149\r\n  },\r\n  \"versions\": {\r\n    \"N/A\": 285\r\n  },\r\n  \"countries\": {\r\n    \"US\": 58,\r\n    \"CA\": 227\r\n  },\r\n  \"products\": {\r\n    \"39740449578\": 285\r\n  },\r\n  \"languages\": {\r\n    \"N/A\": 285\r\n  },\r\n  \"tags\": {}\r\n}", "encoding": "utf-8"}, "headers": {"x-server-id": "11", "x-request-usage": "25", "etag": "\"AHseeuaAPDHCa2cT190lnw==\"", "x-request-limit": "1000", "content-type": "application/json; charset=utf-8"}, "status": {"message": "OK", "code": 200}, "url": "https://api.appfigures.com/v2/reviews/count?products=39740449578"}, "recorded_at": "2015-10-13T20:52:56"}], "recorded_with": "betamax/0.5.0"}